@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harmony";
  src: url("../public/Harmony.ttf");
}
@font-face {
  font-family: "Dancing";
  src: url("../public/DancingScript-VariableFont_wght.ttf");
}
